#page-mod-googlemeet-mod #generateurlroomLoading {
    background: url([[pix:mod_googlemeet|i/processing64]]) no-repeat;
    background-size: 32px;
    margin-left: 4px;
    height: 32px;
    width: 32px;
    display: none;
}

#googlemeetcontentlog {
    color: #990006;
    display: none;
    margin: 10px;
    word-break: break-word;
    white-space: break-spaces;
}

#page-mod-googlemeet-mod #fgroup_id_generateurlgroup .form-group.fitem[data-groupname="timeopen"],
#page-mod-googlemeet-mod #fgroup_id_generateurlgroup .form-group.fitem[data-groupname="timeclose"],
#page-mod-googlemeet-mod .form-control-static,
#page-mod-googlemeet-mod .form-control-static .singleselect {
    width: 100%;
}


#googlemeet_auth-info {
    display: flex;
    align-items: center;
    justify-content: end;
}

#googlemeet_picture-user {
    color: #000;
    cursor: pointer;
    text-decoration: none;
	padding: 4px;
	border-radius: 50%;
	display: inline-block;
    outline: none;
    vertical-align: middle;
    box-sizing: border-box;
    height: 72px;
    width: 72px;
}

#googlemeet_picture-user:hover,
#googlemeet_picture-user:focus {
    background-color: rgba(60,64,67,.08);
    box-shadow: none;
}

#googlemeet_picture-user > img {
    background-size: 64px 64px;
    border: 0;
    border-radius: 50%;
    display: block;
    margin: 0px;
    position: relative;
    height: 64px;
    width: 64px;
    z-index: 0;
}

#googlemeet_picture-user > img:hover {
    box-shadow: 0 1px 0 rgba(0,0,0,.15);
}

#googlemeet_user-name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 20px;
    line-height: 1;
}

#googlemeet_user-name span:nth-child(1) {
    font-size: 8pt;
}

#googlemeet_user-name span:nth-child(2) {
    font-weight: 500;
}

#page-admin-setting-modsettinggooglemeet .form-item:last-child .form-description {
    margin-left: -200px;
}

#googlemeet_upcoming_events span + span {
    white-space: nowrap;
    border-left: 1px solid #999;
    padding-left: 4px;
}

#googlemeet_upcoming_events,
#googlemeet_recordings {
    margin: 20px 0;
}

#googlemeet_recordings {
    max-width: 900px;
}

#googlemeet_recordings_table {
    position: relative;
    max-width: 900px;
}

#googlemeet_recordings_table table,
#googlemeet_recordings #syncbutton {
    min-width: 500px;
}

#googlemeet_recordings_table table td {
    vertical-align: middle;
}

#googlemeet_recordings_table table tr.warning {
    color: #aaa;
    font-weight: normal;
}

#googlemeet_recordings_table .icon {
    padding: 0;
}

#googlemeet_recordings_table .btn .icon {
    margin-left: .5rem;
}

#googlemeet_syncimg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    place-content: center;
    background-color: #fff;
    opacity: .6;
    display: none;
}

#googlemeet_syncimg .icon {
    height: 64px;
    width: 64px;
}

#googlemeet_recordings #recordings {
    display: flex;
    justify-content: space-between;
}

#googlemeet_recordings #syncbutton {
    max-width: 600px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
}

.path-mod-googlemeet .items-center,
#id_eventenddate_calendar,
#id_eventdate_calendar {
    display: flex;
    margin-right: .25em;
    align-items: center;
}

#googlemeet_recordings_table .dt-container {
    overflow-x: auto;
    margin: 10px 0;
}

#googlemeet_recordings_table .dt-bottom {
    margin-bottom: 10px;
}

#googlemeet_recordings_table .dt-top,
#googlemeet_recordings_table .dt-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#googlemeet_recordings_table .dt-search {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}

#googlemeet_recordings_table .dt-top .dt-selector,
#googlemeet_recordings_table .dt-bottom .dt-selector,
#googlemeet_recordings_table .dt-top .dt-input,
#googlemeet_recordings_table .dt-bottom .dt-input,
#googlemeet_recordings_table .dt-top label,
#googlemeet_recordings_table .dt-bottom label {
    margin-bottom: 0;
}

@media only screen and (max-width: 950px) {
    #googlemeet_recordings #recordings {
        display: block;
    }
    #googlemeet_auth-info {
        justify-content: start;
    }
}




#page-mod-googlemeet-mod .multiSelect {
  width: 100%;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#page-mod-googlemeet-mod .multiSelect *, .multiSelect *::before, .multiSelect *::after {
  box-sizing: border-box;
}

#page-mod-googlemeet-mod .multiSelect_dropdown {
  font-size: 14px;
  min-height: 35px;
  line-height: 35px;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  background-color: #fff;
  color: #444f5b;
  border: 1px solid #d9dbde;
  font-weight: 400;
  padding: 0.5px 13px;
  margin: 0;
  cursor: pointer;
  width: 100% !important;
  height: auto !important;
}

#page-mod-googlemeet-mod .multiSelect_dropdown.-disabled {
  cursor: default;
  color: #6a737b;
  background-color: #e9ecef;
  opacity: 0.7;
}

#page-mod-googlemeet-mod .multiSelect_dropdown.-hasValue {
  padding: 2px 30px 2px 5px;
  cursor: default;
}

#page-mod-googlemeet-mod .multiSelect_dropdown.-open {
  border-color: #5babf2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(15,108,191,.75);
}

#page-mod-googlemeet-mod .multiSelect_list {
  display: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none;
  position: relative;
  max-height: calc(10 * 40px);
  top: -18px;
  left: 0;
  z-index: 9999;
  right: 0;
  background: #fff;
  border-radius: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #d9dbde;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
}

#page-mod-googlemeet-mod .multiSelect_option {
  margin: 0;
  padding: 0;
  display: none;
}

#page-mod-googlemeet-mod .multiSelect_option.-selected {
  display: none !important;
}

#page-mod-googlemeet-mod .multiSelect_option:hover .multiSelect_text {
  color: #fff;
  background: #4d84fe;
}

#page-mod-googlemeet-mod .multiSelect_text {
  cursor: pointer;
  display: block;
  padding: 5px 13px;
  color: #525c67;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  position: relative;
}

#page-mod-googlemeet-mod .multiSelect_text:hover {
  text-decoration: none;
}

#page-mod-googlemeet-mod .multiSelect_list.-open {
  display: block;
}

#page-mod-googlemeet-mod .multiSelect_list.-open::-webkit-scrollbar-thumb {
  background-color: #6a737b;
  border-radius: 20px;
  border: 4px solid #f8f9fa;
}

#page-mod-googlemeet-mod .multiSelect_list.-open::-webkit-scrollbar-thumb:hover {
  background-color: #495057;
}

#page-mod-googlemeet-mod .multiSelect_list.-open::-webkit-scrollbar {
  width: 14px;
}

#page-mod-googlemeet-mod .multiSelect_list.-open::-webkit-scrollbar-track {
  background: #f8f9fa;
  border-radius: 20px;
}

#page-mod-googlemeet-mod .multiSelect_list.-open .multiSelect_option {
  display: block;
}

#page-mod-googlemeet-mod .multiSelect_choice {
  background: rgba(77, 132, 254, 0.1);
  color: #444f5b;
  padding: 4px 8px;
  line-height: 17px;
  margin: 2px 5px;
  display: inline-block;
  font-size: 13px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
}

#page-mod-googlemeet-mod .multiSelect_dropdown.-disabled .multiSelect_choice {
  cursor: default;
}

#page-mod-googlemeet-mod .multiSelect_deselect {
  width: 12px;
  display: inline-block;
  margin-left: 2px;
  color: #b2bac3;
}

#page-mod-googlemeet-mod .multiSelect_choice:hover .multiSelect_deselect {
  stroke: #a1a8b1;
}

#page-mod-googlemeet-mod .multiSelect_noselections {
  text-align: center;
  padding: 7px;
  color: #b2bac3;
  font-weight: 450;
  margin: 0;
}

#page-mod-googlemeet-mod .multiSelect_placeholder {
  position: relative;
  left: 20px;
  font-size: 14px;
  top: -29px;
  padding: 0 4px;
  background-color: transparent;
  color: #b8bcbf;
  pointer-events: none;
}

#page-mod-googlemeet-mod .multiSelect_dropdown.-hasValue + .multiSelect_placeholder,
#page-mod-googlemeet-mod .multiSelect_dropdown.-open.-hasValue + .multiSelect_placeholder {
  opacity: 0;
}
