{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  @template mod_googlemeet/recordingstable

  Example context (json):
  {
    "lastsync": "29/04/2023 23:35",
    "creatoremail": "example@gmail.com",
    "redordingname": "Example",
    "login": "html",
    "islogged": 1,
    "syncbutton": "html",
    "isloggedcreatoremail": 1
  }
}}
<div id="recordings">
  <div id="syncbutton">
    {{#islogged}}
      <div>
        {{# str }} lastsync, mod_googlemeet {{/ str }} <strong><span id="id_lastsync">{{lastsync}}</span></strong>
      </div>
      <div>
        {{# str }} recordingswiththename, mod_googlemeet {{/ str }} <strong>{{redordingname}}</strong>
      </div>
      <div>
        {{# str }} roomcreator, mod_googlemeet {{/ str }} <strong><span id="id_creatoremail">{{creatoremail}}</span></strong>
      </div>
      {{#isloggedcreatoremail}}
        {{{syncbutton}}}
      {{/isloggedcreatoremail}}
      {{^isloggedcreatoremail}}
        <div class="alert alert-danger alert-block mt-3">
          {{# str }} isnotcreatoremail, mod_googlemeet {{/ str }}
      </div>
      {{/isloggedcreatoremail}}
    {{/islogged}}
    {{^islogged}}
      {{# str }} sync_notloggedin, mod_googlemeet {{/ str }}
      {{{login}}}
    {{/islogged}}
    <div class="mt-4">
      {{# str }} sync_info, mod_googlemeet {{/ str }}
    </div>
  </div>
  {{#islogged}}
    <div id="logininfo">
      {{{login}}}
    </div>
  {{/islogged}}
</div>